templates/.ssh/config.d/**        filter=git-crypt diff=git-crypt
templates/.config/git/config.d/** filter=git-crypt diff=git-crypt
templates/.bash_history           filter=git-crypt diff=git-crypt
values/**                         filter=git-crypt diff=git-crypt
.gitattributes                    !filter          !diff
