set ideajoin
set ideamarks
set idearefactormode=visual
set surround
set commentary
set matchit

set scrolloff=5
set sidescroll=5
set hlsearch
set incsearch
set ignorecase
set smartcase
set nrformats-=octal

let g:mapleader = ' '

command! StripWhitespace %s/\s\+$//e | nohlsearch

nnoremap <S-Left>  g^
nnoremap <S-Right> g$
nnoremap <Up>      gk
nnoremap <Down>    gj
nnoremap <S-Up>    k
nnoremap <S-Down>  j

xnoremap <S-Left>  g^
xnoremap <S-Right> g$
xnoremap <Up>      gk
xnoremap <Down>    gj
xnoremap <S-Up>    k
xnoremap <S-Down>  j

vnoremap p pgvy
vnoremap < <gv
vnoremap > >gv

nmap g[ <Action>(GotoPreviousError)
nmap g] <Action>(GotoNextError)
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTest)
nmap gs <Action>(FileStructurePopup)

nmap <Leader>b <Action>(ToggleLineBreakpoint)
xmap <Leader>b <Action>(ToggleLineBreakpoint)
nmap gb <Action>(ViewBreakpoints)

nmap U <Action>(LocalHistory.ShowHistory)
xmap U <Action>(LocalHistory.ShowSelectionHistory)

nmap <Leader>rn <Action>(RenameElement)
nmap <Leader>rf <Action>(Refactorings.QuickListPopupAction)
xmap <Leader>rf <Action>(Refactorings.QuickListPopupAction)

nmap <Leader>a <Action>(ShowIntentionActions)
xmap <Leader>a <Action>(ShowIntentionActions)

nmap K <Action>(QuickJavaDoc)
