set colored-completion-prefix on
set completion-ignore-case on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set show-all-if-unmodified on

TAB: menu-complete
"\e[Z": menu-complete-backward
"\C-f": forward-search-history
